<h1>Here is your recipe:</h1>

<p> Diet requirement: <%=@recipe.diet.category%></p>
<h3>Title:<%=@recipe.title%> </h3>
<p> Ingredients: <%=@recipe.ingredients%></p>
<p> Cooking instructions: <%=@recipe.cooking_instruction%></p>





<h3>Click to edit below <h3>



