<body style="background-color:Salmon;">

<h1>Welcome to your  Recipe Review page <%=@user.username%> !</h1>
<h3> We cannot wait to see your recipes and reviews!</h3>
<h3>Click above to be naviagted</h3>


<h3> Want to see our other users?</h3>
<%=link_to "All users", users_path%>
</body>