<body style="background-color:Salmon;">

<h1>Welcome to your  Recipe Review page <%=@user.username%> !</h1>

Here they should be able to see their reviews and the recipes they have created 

<h2>The Recipes you have created:<h2>






<h2>The Reviews you have created:</h2>



<h3> See our other users:</h3>
<%=link_to "All users", users_path%>
</body>