<h1>Different Diet Requirements</h1>

<center><br><ul>
<li>Vegan</li>
<li>Vegeterian</li>
<li>Lactose intolerant</li>
<center><li>Gluten intolerant</li></center>

</ul><br></center>

<center><h3>Many more different types of diet requirements <br> we have yet to mention so feel free to add one below!</h3></center>