

<center><h1>Different Diet Requirements</h1></center>
<center><h3>Below are all the different<br> dietary requirements!</h3></center>



<% @diets.each do |diet| %>
<center><br><h4><%= diet.category%></h4><br></center>
<center><h6><%= diet.description%><h6></center>


  <% end %>

<center><h6>Many more different types of diet requirements <br> we have yet to mention so feel free to add one below!</h6></center>
<center><%= link_to "Add Dietary Requirement", new_diet_path%></center>
