<body style="background-color:Salmon;">
<h1>Different Diet Requirements</h1>


<h2>Vegan<h2>
<h3>"a person who does not eat or use animal products."</h3>

<h2>Vegeterian<h2 >
<h3>"a person who does not eat meat or fish, and sometimes other animal products, especially for moral, religious, or health reasons."</h3>

<h2>Pescatarian</h2>
<h3>"a person who does not eat meat but does eat fish."</h3>



<center><h3>Many more different types of diet requirements <br> we have yet to mention so feel free to add one below!</h3></center>
<%= link_to "Add Dietary Requirement", new_diet_path%>

   
</body>