

<center><h2>All the reviews</h2></center>
<center><h4>They are all anonymous don't worry!</h5></center>


<% @reviews.each do |review| %>

<center><br><h6>Review Title:</h6><p><%= review.title%></p><br></center>
<center><br><h6>Recipe Title:</h6> <p><%= review.recipe.title%></p><br></center>
<center><br><h6>Overview :</h6><p><%= review.overview%></p><br></center>
<center><br><h6>Rating:</h6><p><%= review.rating%><p><br></center>
  <% end %>




