<body style="background-color:Salmon;">

<% if @recipe %>
  <h1>Reviews for <%= @recipe.title%> 
  <h1>All the Reviews </h1>
<% end %>

<% @reviews.each do |review| %>
<center><br><h6>Review Title:</h6><%= review.title%><br></center>
<center><br><h6>Overview :</h6><%= review.overview%><br></center>
<center><br><h6>Rating:</h6><%= review.rating%><br></center>
  <% end %>




</body>