

<center><h2>Great you've made a review!</h2></center>
<center><h4>Don't worry your review is anonymous <br> so no one will know it was written by you!</h4></center>


<center><h2>Review details:</h2></center><br>
<center><h4>Recipe title: <%=@review.recipe.title%></h4></center><br>
<center><h5>Review title: <%=@review.title %></h5></center><br>
<center><h5>Overview : <%=@review.overview%></h5></center><br>
<center><h5>Rating : <%=@review.rating%></h5></center><br>



